.DS_Store
**.root
src/HNL_SignalLeptonOpt/ScanID/**
PyScripts/OptimisationHelper/LeptonID_Opt_Helper/results
src/HNL_SignalLeptonOpt/ScanID/results
**/*.pyc
**.so
**.d
**.pcm
**.pdf
**.png
**.root
*/.DS_Store
InputFiles/**
Output/**
**~
**log