.DS_Store
*/.DS_Store
script/FilesForSKAnalyzer/LeptonFakerate/rootfiles
InputFiles/MergedFiles
InputFiles/rootfiles
OutputTool/*/*.log
Limits/MakeCards/CutandCount/CardTemplate.pyc
Limits/DataCards*/*/201*/
Limits/DataCards*/*/CombinedYears/
Limits/DataCards*/*/Workspace/
Limits/DataCardsCutCount/*/*/*/*.root
python/*.pyc
src/FakeRates/CreateInput/FakeFiles
Latex/workspace/*.tex
Latex/workspace/*.txt
src/LimitPlotter/out/
Plots/*
OutputTool/MergedFiles/
Files/
*~
*/*~
*/*/*~
*/*/*/*/*.pdf
*/*/*/*.pdf
*/*/*/*/*/*.pdf
*/*/*.pdf
*/*.pdf
Limits/MakeCards/CutandCount/HNType1_config.pyc
OutputTool/*/*.log