src/FakeRates/CreateInput/FakeFiles
Latex/workspace/*.tex
Latex/workspace/*.txt
src/LimitPlotter/out/
Plots/Run2Legacy_v4/
OutputTool/MergedFiles/
Files/
*~
*/*~
*/*/*~
*/*/*/*/*.pdf
*/*/*/*.pdf
*/*/*/*/*/*.pdf
*/*/*.pdf
*/*.pdf